﻿@model IEnumerable<Fridge.Models.Product>

@{
    ViewBag.Title = "Lista produktów";
}

<h2>Lista produktów</h2>

<p>
    @Html.ActionLink("Dodaj nowy produkt", "Create")
</p>

@using (Html.BeginForm())
{
    <div form-inline>
        <label for="nameProduct">Wyszukaj:&nbsp;</label>
         @Html.TextBox("productFind") 
         &nbsp;<button type="submit" class="btn btn-primary">Szukaj</button>
    </div>
}

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fridges.Location)
        </th>
        <th>
          
            @Html.ActionLink("Produkt", "Index", new { sortowanie = ViewBag.SortByName })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fridges.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
