﻿@{
    ViewBag.Title = "O projekcie";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Aplikacja służy między innymi do przeglądania posiadanych produktów spożywczych w uporządkowany i klarowny sposób.</p><br />
<p>Co zyskujemy?<br />
    <ol>
        <li>Możemy szybko sprawdzić czy wszystko co jest potrzebne np. do zrobienia obiadu znajduje się w domu</li>
        <li>Oszczędzamy prąd, ponieważ nie musimy otwierać często lodówki <br />(jak wiadomo wiele osób stoi przed otwartą lodówką dość długi czas i zastanawia się co wybrać do zjedzenia) :)</li>    
    </ol>
</p>
<br />

Aby zacząc przejdź do @Html.ActionLink("Mojej lodówki", "Index", "Fridges") lub @Html.ActionLink("Produktów", "Index", "Products"). <br /><br /><br />
@Html.Partial("_PartialContact")


