﻿@model Fridge.Models.Fridges

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Lodówka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <hr />
        <dt>Produkty:</dt>
        <dd>
        @foreach (var item in Model.Products)
        {
            <p>@item.Name  @item.Comment</p>
        }
        </dd>
    </dl>
    
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.FridgesId }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
