﻿@model IEnumerable<Fridge.Models.Fridges>

@{
    ViewBag.Title = "Moje lodówki";
}

<h2>Lista lodówek</h2>

<p>
    @Html.ActionLink("Dodaj nową lodówkę", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.FridgesId }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.FridgesId }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.FridgesId })
        </td>
    </tr>
}

</table>
